<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <title>Zalles Electrical Power Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <!-- Skeleton -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="lib/Skeleton/stylesheets/base.css">
    <link rel="stylesheet" href="lib/Skeleton/stylesheets/skeleton.css">
    <link rel="stylesheet" href="lib/Skeleton/stylesheets/layout.css">

    <!-- JQuery -->
    <script src="lib/jquery/jquery-1.7.2.js" type="text/javascript"></script>
    <link href="lib/jquery-ui/css/flick/jquery-ui-1.10.1.custom.css" rel="stylesheet">
    <script src="lib/jquery-ui/js/jquery-ui-1.10.1.custom.js" type="text/javascript"></script>
    <script src="lib/tinybox2/tinybox.js" type="text/javascript"></script>

    <!-- Slide -->
    <link rel="stylesheet" href="lib/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
    <script type="text/javascript" src="lib/nivo-slider/jquery.nivo.slider.js"></script>
    <link rel="stylesheet" href="lib/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>

    <!-- Personal files -->
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper" class="container">
    <div id="header">
        <div id="logo" class="columns six">
            <img src="images/logo.gif" />
        </div>
        <div id="logo_text" class="seven columns offset-by-three">
            <img src="images/zeps_text.png" />
        </div>
        <div class="clear"></div>
        <div id="menu" class="sixteen columns">
            <div id="tiny_navigation" onclick="$('#menu_items').toggle();">NAVIGATION</div>
            <div id="menu_items">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li>
                        <a href="#">Services</a>
                        <ul class="submenu">
                            <li><a href="#">Engineering</a></li>
                            <li><a href="#">Field Services</a></li>
                            <li><a href="#">Electrical Studies</a></li>
                            <li><a href="#">Other Services</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Staff</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="slider-wrapper theme-default sixteen columns">
        <div id="slider" class="nivoSlider">
            <img src="images/photos/1.jpg" alt="" />
            <img src="images/photos/2.jpg" alt="" /> 
            <img src="images/photos/3.jpg" alt="" />
            <img src="images/photos/4.jpg" alt="" />
            <img src="images/photos/5.jpg" alt="" />
        </div>
    </div>
    <div class="clear"></div>

    <div id="about">
        <div class="columns nine">
            <p>Zalles Electrical Power Services, LLC (ZEPS, LLC) provides services performed by skilled and experienced engineers with more than 20 years of extensive experience in electrical power projects starting from the conceptual design, developing the engineering, performing electrical studies, installing, commissioning and start up of electrical installations up to 500 kV.</p>

            <p>Our team provides "One Stop Shop" for customers need's regarding high voltage projects. "One Stop Shop" to have the electrical studies, design, technical specifications, management of the procurement, and performs the supervision during construction, commissioning and start up.</p>

            <p>ZEPS LLC provides consulting services regarding High Voltage Electrical Projects for United States and Worldwide.</p>
        </div>
        <div class="mission columns seven">
            <h3><span>Mission</span></h3>
            <p>To be the firm of choice in the markets we serve. We deliver value-added solutions in the electrical power field.</p>
        </div>
        <div class="mission columns seven">
            <h3><span>Commitment</span></h3>
            <p>To provide high quality and innovative services.</p>
        </div>
    </div>

    <div class="clear"></div>
    <div id="latest_projects">
        <div class="columns sixteen">
            <div class="title">
                <div class="more"><a href="#">View all portfolio &rarr;</a></div>
                <h3>LATEST PROJECTS</h3>
            </div>
        </div>

        <div class="project_preview columns four">
            <a href="#">
                <img src="images/photos/p1.jpg" />
                Electrical Central
                <div class="location">Houston, EEUU</div>
            </a>
        </div>
        <div class="project_preview columns four">
            <a href="#">
                <img src="images/photos/p2.jpg" />
                XF Substation
                <div class="location">Portaland, Oregon, EEUU</div>
            </a>
        </div>
        <div class="project_preview columns four">
            <a href="#">
                <img src="images/photos/p3.jpg" />
                Electrical Central
                <div class="location">Santa Cruz, Bolivia</div>
            </a>
        </div>
        <div class="project_preview columns four">
            <a href="#">
                <img src="images/photos/p4.jpg" />
                Field improvement
                <div class="location">Santiago, Chile</div>
            </a>
        </div>
    </div>

    <div id="our_clientes">
        <div class="columns sixteen">
            <div class="title">
                <h3>OUR CLIENTS</h3>
            </div>
            <img src="images/logos.png" />
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="columns four">
            <ul>
                <li class="title"><span>USA Office</span></li>
                <li>11233 Shadow Creek Prkwy</li>
                <li>Suite 200</li>
                <li>Pearland, Texas 77584</li>
                <li><label>Office:</label> 832-456-7910</li>
                <li><label>Mobile:</label> 713-206-8974</li>
                <li><label>Email:</label> izalles@zepsgroup.com</li>
            </ul>
        </div>
        <div class="columns four offset-by-one">
            <ul>
                <li class="title"><span>Bolivia Office</span></li>
                <li>Av. America #435</li>
                <li>Edificio Jacke, Piso 2</li>
                <li>Cochabamba - Bolivia</li>
                <li><label>Office:</label> 832-456-7910</li>
                <li><label>Mobile:</label> 713-206-8974</li>
            </ul>
        </div>
        <div class="columns four offset-by-one">
            <ul>
                <li class="title"><span>Peru Office</span></li>
                <li>Av. America #435</li>
                <li>Edificio Jacke, Piso 2</li>
                <li>Cochabamba - Bolivia</li>
                <li><label>Office:</label> 832-456-7910</li>
                <li><label>Mobile:</label> 713-206-8974</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="copy">ZEPS, LLC &copy 2013  &nbsp; - &nbsp;  All Rights Reserved</div>
        <div id="snail">Web Design &raquo; <img src="images/smartsnail.png" /></div>
    </div>
</div>

</body>
</html>