.services_list { margin-top: 20px; }
.services_list ul li { margin-left: 40px; list-style-image: url('images/arrow.png'); }

.staff-profile { border: 1px solid #CCC; border-radius: 15px; background-color: #fff; margin-top: 20px; margin-bottom: 50px; padding: 5px; }
.staff-profile img { margin-right: 5px; width: 90px; border-radius: 10px; float: left; }
.staff-profile p { float: left; width: 190px; margin: 0; }
.staff-profile h2 { margin: 0; padding: 0; cursor: pointer; font-size: 21px; }
.staff-profile .link { float: right; color: #00466D; cursor: pointer; clear: right; }
.staff-profile .link:hover { text-decoration: underline; }
.staff-profile-right { margin-left: 50px; }

#staff-details ul li { list-style-image: url('images/arrow.png'); margin-left: 30px; }

#projects-list { background-color: #fff; border-radius: 15px; padding: 20px 10px; border: 1px solid #CCC; }
#projects-list .title { color: #999; margin: 0; font-size: 17px; }
#projects-list ul { padding: 0; font-size: 16px; }
#projects-list ul li { list-style: none; margin: 0; position: relative; }
#projects-list ul li a { text-decoration: none; padding: 15px; display: block; color: #444; border-top: 1px solid #EAEAEA; }
#projects-list ul li a:hover { padding-left: 25px; padding-right: 5px; border: 1px solid #999; background: url(images/menu-hover-bg.gif); }
#projects-list .mouseover    { padding-left: 25px; padding-right: 5px; border: 1px solid #999; background: url(images/menu-hover-bg.gif); }
#projects-list .active { background: url('images/arrow.png') no-repeat 10px 50%; padding-left: 35px; }

#projects-list .sublist { display: none; position: absolute; top: -4px; left: 165px; padding-bottom: 8px; width: 210px; border: 1px solid #999; border-left: none; background: url(images/menu-hover-bg.gif); z-index: 15; }
#projects-list .sublist ul li { margin-right: 0; display: block; padding: 0; border: none; }
#projects-list .sublist ul li:hover { border: none; }
#projects-list .sublist a { padding: 15px; text-align: left; color: #444; font-size: 15px; }
#projects-list .sublist a:hover { padding: 15px 5px 15px 25px; border: none; border-top: 1px solid #EAEAEA; background: url('images/arrow.png') no-repeat 2% 50%; }
#projects-list ul li:hover > .sublist { display: block;  }

#project-content img { cursor: pointer; border: 5px solid #FFF; }
#project-content img:hover { border: 5px solid #CCC }

#project-content h2 { margin-bottom: 8px; border-bottom: 1px solid #CCC; }
#project-content h3 { margin-top: 20px; margin-left: 25px; font-size: 21px; color: #444; }
#project-customer { background: url('images/customer.png') no-repeat; padding: 5px 15px 5px 45px; font-size: 18px; color: #00466D; font-style: italic; float: left; height: 35px; margin-left: 25px; }
#project-location { background: url('images/location_icon.png') no-repeat; padding: 5px 0 5px 30px; font-size: 14px; color: #00466D; font-style: italic; float: left; height: 35px; margin-left: 25px; }
#project-content ul { clear: both; font-size: 15px; margin-left:  30px; }
#project-content ul li { margin-left: 35px; list-style-image: url('images/arrow.png'); }
#project-content ul li ul { margin-left: 15px; }
#project-content ul li ul li { margin-left: 20px; list-style-image: url('images/bullet.png'); }

#map-container { width: 700px; position: relative; }
.location-point { position: absolute; background: url(images/location_icon_orange.png); width: 15px; height: 20px; cursor: pointer; }
.location-point:hover { margin-top: -2px; }
.location-point-info { display: none; position: absolute; top: 20px; left: -47px; z-index: 15; padding: 0; width: 210px; background: url(images/location-point-info-bg.png) no-repeat; cursor: default; }
.location-point-info-content { background-color: #FFF; border: 2px solid #CCC; border-top: none; padding: 5px; margin-top: 20px; }
.location-point:hover > .location-point-info { display: block; }
.location-point .location { text-align: center; font-style: italic; font-size: 12px; color: #666; background: url(images/location_icon_mini.png) no-repeat 0 40%; display: inline-block; padding-left: 16px; }
.location-point .projects { padding-left: 5px; }
.location-point .project-customer { font-size: 13px; color: #555; }
.location-point .project { padding-left: 15px; background: url(images/bullet2.png) no-repeat; }

#careers p { margin-left: 20px; }
#careers ul li { margin-left: 50px; list-style: circle; }

#contact textarea { width: 100%; }